:root {
    --primary-color: #0065FE;
}

html {
    height: 100%;
}
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.aurora-cover {
    width: 1058px; 
    height: 404.90px; 
    left: 191px; 
    top: 0px; 
    position: absolute;
}

.red {
    width: 199.10px; 
    height: 215.08px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D60505; 
    box-shadow: 700px 700px 700px; 
    border-radius: 9999px; 
    filter: blur(700px);
}

.green {
    width: 199.10px; 
    height: 215.08px; 
    left: 270px; 
    top: 11.90px; 
    position: absolute; 
    background: #067808; 
    box-shadow: 700px 700px 700px; 
    border-radius: 9999px; 
    filter: blur(700px);
}

.yellow {
    width: 271px; 
    height: 293px;
    left: 787px; 
    top: 111.90px; 
    position: absolute; 
    background: #EAC81F; 
    box-shadow: 700px 700px 700px; 
    border-radius: 9999px; 
    filter: blur(700px);
}

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 0.97% auto 106px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
}

.logo img {
    width: 1.6em;
    height: 24px;
}

.logo div {
    font-size: 1.5em;
    color: var(--primary-color);
    align-self: flex-start;
}

li {
    list-style: none;
}

#first-list {
    display: flex;
    align-items: center;
    font-size: 1.125em;
    font-family: 'Gilroy-Medium', sans-serif;
    gap: 40px;
}

a {
    text-decoration: none;
    color: black;
}

#first-list li:first-child a, #second-list  li:first-child a{
    color: var(--primary-color);
}

#second-list {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 1em;
    margin-right: 40px;
}

.colored {
    padding: 12px 24px;
    background-color: var(--primary-color);
    border-radius: 100px;
}

#description {
    width: 66%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#description h1 {
   font-family: Gilroy-Bold;
   font-size: 3em;
   line-height: 96px;
   text-align: center;
   margin-bottom: 20px;
}

#description h1 span {
    color: var(--primary-color);
}

#description h1 img {
    position: absolute;
    top: 320px;
    right: 740px;
}

#description p {
    width: 65%;
    margin: auto;
    text-align: center;
    line-height: 28px;
    font-family: Gilroy-Medium;
    font-size: 1.125em;
}

.sign-learn {
    width: 20%;
    margin: auto;
    display: flex;
    margin-top: 32px;
    gap: 56px;
    font-size: 1em;
    padding: 20px 30px;
}
#sign {
    padding: 12px 40px;
}

#chain-frame {
    width: 45%;
    margin: auto;
    padding: 40px 60px;
    border-radius: 24px;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
}

#chain img:nth-child(2) {
    margin-left: -13px;
    margin-right: -13px;
}

#chain img:nth-child(4 ) {
    position: relative;
    top: -33px;
    margin: 0 20px;
}

#chain-frame p {
    font-size: 1em;
    text-align: center;
}

.triangle {
    position: absolute;
    top: 520px;
    transform: rotate(-8.822deg);
    left: 470px;
    z-index: -1;
}
.triangle img {
    width: 220px;
    height: 230px;
}

.rectangle {
    width: 100%;
    margin-top: 76px;
}

.rectangle img {
    width: 100%;
}

.ellipse {
    position: relative;
    top: 160px;
    left: 350px;

}

#frame1 {
    display: flex;
    background: #F9FBFD;
    margin-top: -10px;
    padding: 60px 140px;
}

.frame1-first {
    font-size: 2.5em;
    font-family: Gilroy-Bold;
    margin-right: 230px;
    width: 40%;
}

.frame1-first span {
    color: var(--primary-color);
}

.stats {
    font-size: 2em;
    font-family: Gilroy-SemiBold;
}

.stats-paragraph {
    font-size: 1em;
    font-family: Gilroy-Medium;
    margin-top: 10px;
}

.frame1-second {
    display: flex;
    gap: 140px;
    margin-right: 40px;
    width: 40%;
}


.frame1-third {
    margin-left: 40px;
    width: 40%;
}

#frame2 {
    width: 83%;
    display: grid;
    grid-template-columns: 36% auto;
    column-gap: 7.9%;
    margin: 128px auto 200px;
}

.frame2-first-wrapper {
    display: flex;
    flex-direction: column;
}

.frame2-first-header {
    font-size: 2.5em;
    font-family: Gilroy-Bold;
}

.frame2-first-header span{
    color: var(--primary-color);
}

.frame2-firstp {
    font-size: 1em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 28px 0 0 28px;
}

.frame2-second-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2.3%;
    row-gap: 64px;
}


.icon {
    position: relative;
    margin-bottom: 35px;
}

.second-icon {
    position: absolute;
    top: 17px;
    left: 16px;
}
.edit {
    position: absolute;
    top: 16px;
    left: 19px;
}

.head {
    font-size: 2em;
    font-family: Gilroy-SemiBold;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.frame2-sections p {
    font-size: 1em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

#pricing {
    width: 76%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.pricing-header-box {
    width: 53%;
    margin: auto;
}

.pricing-header {
    font-size: 2.5em;
    font-family: Gilroy-Bold;
    display: flex;
    gap: 0.5em;
    padding-left: 6%;
}

.pricing-header span {
    color: var(--primary-color);
}

.pricing-header-box p {
    text-align: center;
    font-size: 1em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#pricing-boxes {
    margin: 200px 0 200px 0;
    align-items: center;
}
.pricing-details {
    display: inline-block;
    width: 350px;
    height: 450px;
    padding: 50px 50px;
    z-index: -1;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
}

.highlight {
    background-color: #1e3448;
    display: inline-block;
    width: 400px;
    height: 550px;
    padding: 100px 50px;
    position: relative;
    margin: 0 -30px 0 -30px;
    bottom: 0px;
    border-radius: 12px;
    color: #FFF;
}

.type {
    text-align: center;
    font-size: 1.5em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 34px;
}

.price {
    text-align: center;
    font-size: 2.5em;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 10px;
}

.scope {
    text-align: center;
    font-size: 1.25em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 14px;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.contents {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.custom {
    color: var(--primary-300-base, #0065FE);
}

.select {
    color: #FFF;
}

#pricing-buttons button{
    padding: 12px 24px;
    border-radius: 100px;
    width: 200px;
    font-family: Gilroy-SemiBold;
    font-size: 1em;
    margin-bottom: 112px;
}

#pricing-buttons button:first-child {
    margin-right: 10px;
    border-color: var(--primary-color);
}

#pricing-buttons button:last-child {
    background-color: var(--primary-color);
    border: none;
}

#form-div {
    background-color: #1e3448;
    padding: 83.5px 0 83.4px 0;
}



form {
    width: 27%;
    margin: 83.5px auto 84.5px;
    border-radius: 12px;
    padding: 42px;
    border: 1px solid var(--primary-color);
    background-color: #FFF;
}

.url-input input{
    border-color: var(--primary-color);
    border-radius: 12px;
    padding: 8px 12px;
    width: 100%;
    height: 55px;
    margin-bottom: 24px;
}

::placeholder {
    color: var(--primary-color);
    font-size: 0.9em;
}

#domain-alias {
    display: flex;
    gap: 12px;
    width: 100%;
    margin-bottom: 24px;
}

#domain {
    padding: 18px 20px;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

#alias-in {
    padding: 18px 20px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
}

#trim {
    width: 100%;
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-color: var(--primary-color);
    border-radius: 100px;
    color: #FFF;
    margin-bottom: 22px;
    font-size: 0.875em;
}

form div:last-child {
    color: var(--primary-color);
}

#faqs {
    width: 55%;
    margin: 43px auto 155px;
}

#faqs .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 54px;
}

.faqs-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.faqs1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.faqs1 div:first-child {
    display: flex;
    justify-content: space-between;
}

.faqs, .faqs1 {
    font-size: 1.25em;
    padding: 32px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.faqs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#optimization-div {
    background-color: #1e3448;
    padding: 159px 317px 53px;
}

.optimization-started {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optimization {
    font-size: 2.5em;
    color: #FFF;
    margin: 30px 0 80px;
    font-family: Gilroy-Bold;
    line-height: 48px;
}

.optimization-started button {
    background-color: var(--primary-color);
    border: none;
    padding: 20px 24px;
    width: 200px;
    border-radius: 100px;
    font-size: 1em;
    font-family: Gilroy-Medium;
    line-height: 12px;
}

.get-started {
    color: #FFF;
}

#footer {
    display: grid;
    grid-template-columns: 20% auto;
    width: 72%;
    margin: 95px auto;
    gap: 3.8%;
    padding: 100px 0;
}

.logo-icons {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.logo-scissor {
    width: 95%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.scissor-black {
    font-size: 1.5em;
    font-family: Gilroy-Bold;
    font-style: normal;
    line-height: 32px;
}

.logos {
    width: 100%;
    display: flex;
    gap: 3%;
}

.logos div {
    width: 20%;
}

.footer-links-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links .head {
    font-size: 1em;
    font-family: Gilroy-Bold;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.footer-links .body {
    font-size: 1em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

#footer-notes {
    position: absolute;
    right: 0px;
    font-size: 0.875em;
    font-family: Gilroy-Medium;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    
}


